<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="box">
        <form action="../../public/login.php" method="post">
            <label for="login">Login</label><br>
            <input type="text" name="login" id="login"><br>
            <label for="senha">Senha</label><br>
            <input type="password" name="senha" id="senha"><br>
            <input class="enviar" type="submit" value="Entrar">
        </form>
    </div>
    
</body>
</html>